In [74]:
import pandas as pd
import numpy as np

# read data to panads 
data = pd.read_csv("C:\\users\\omarh\\downloads\\CSDA 1050 Capstone\\Project\\2018 Data from Jeff\\podcast18.csv") 

# read and convert data schema mapping into pandas
data_schema = pd.read_fwf("C:\\users\\omarh\\downloads\\CSDA 1050 Capstone\\Project\\2018 Data from Jeff\\Dictionary AI058 CdnPodcast 2018 FINALJun16 CLIENT.txt", header = 2)

#dict of mapping drived from data schema file
mapping = {}
# getting unique mapping of varible and lable
data_schema_unique = data_schema.groupby(['Variable', 'Label']).size().reset_index(name='Freq')
# use mapping dict to create a key value pair with varible as key and lable as value
for index, row in data_schema_unique.iterrows():
    if row['Label']:
        mapping[row['Variable']] = row['Label']

# use the mapping dict to rename the varibles of data file with our newly created shchema
data.rename(columns=mapping,inplace=True)

data.head(3);

In [62]:
#export to excel to explore
data.to_csv('sample_clean.csv')

In [64]:
data.groupby(['arfpr .PROVINCE','arfgen .GENDER','qs2g .FREQUENCY-']).size().reset_index(name='counts')

  arfpr .PROVINCE arfgen .GENDER        qs2g .FREQUENCY-  counts
0         Alberta         Female        About once a day      13
1         Alberta         Female      About once a month       2
2         Alberta         Female       About once a week       3
3         Alberta         Female          Every few days       7
4         Alberta         Female  Less than once a month       1
5         Alberta         Female                   Never       5
6         Alberta         Female     Several times a day      66
7         Alberta           Male        About once a day      18

In [73]:
#data transformation test
pd.get_dummies(data, columns=['qs2g .FREQUENCY-']);